<ion-content>
  <div id="login-account-card">
    <img src="assets/logo/Do Me Logo with label.png" alt="Do Me Logo Full" id="logo">

    <form [formGroup]="loginForm" ngNativeValidate (submit)="onSubmitForm($event)">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <div *ngFor="let error of errorMessages.email" style="text-align: left; color: red;">
          <ng-container *ngIf="loginForm.controls['email'].errors?.required && loginForm.controls['email'].touched">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" id ="password" formControlName="password">
          </ion-input>
          <ion-icon name="eye-off" slot="end" id="icon-eye" style="position: absolute; right: 0; top: 14px; color:rgb(217, 217, 217);" (click)="showLoginPassword()"></ion-icon>
        </ion-item>

        <div *ngFor="let error of errorMessages.password" style="text-align: left; color: red;">
          <ng-container *ngIf="loginForm.controls['password'].errors?.required && loginForm.controls['password'].touched">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-list>
      <ion-button type="submit" expand="block" mode="ios" id="login-button">Sign in</ion-button>
    </form>

    <p id="register-link">Don't have an account? <a href="/register">Register</a></p>
  </div>

</ion-content>
