#page-title{
  position: relative;
  top: 3%;
  margin: 24px;
  h1{
    font-size: 28px;
    font-weight: 600;
  }
}

#section-buttons{
  position: relative;
  text-align: center;
  margin-top: 12px;
}

#form-buttons{
  margin-top: 14px;
}

#heading-back-button{
  position: relative;
  top: 0px;
  margin: 8px;

  ion-button{
    font-size: 16px;
  }
}

#circle-1{
  position: absolute;
  background-color: rgba(120, 174, 255, 0.497);
  width: 115px;
  height: 115px;
  top: -60px;
  right: 0;
  margin: 24px;
  text-align: center;
  border-radius: 50%;
}

#circle-2{
  position: absolute;
  background-color: rgba(120, 174, 255, 0.497);
  width: 115px;
  height: 115px;
  top: -34px;
  right: -70px;
  margin: 24px;
  text-align: center;
  border-radius: 50%;
}
